/* Resetting default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background: linear-gradient(rgba(0, 72, 255, 0.8), rgba(0, 72, 255, 0.4)),
        url('images/header-background.jpg') center/cover no-repeat;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Main content styles */
main.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Movie card styles */
.movie-card {
    width: calc(20.33% - 10px);
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-card h4 {
    margin-top: 10px;
}

/* Footer styles */
footer {
    background-color: #006eff;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Add this style for dark mode */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

/* Update movie card hover animation */
.movie-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/* Pagination styles */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #006eff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #003fa5;
}


